{% extends 'base.html' %}
{% block content %}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Список столиків</h2>
    <a href="{% url 'table-add' %}" class="btn btn-success">Додати столик</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Номер</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        {% for table in tables %}
        <tr>
            <td>{{ table.number }}</td>
            <td>
                <a href="{% url 'table-edit' table.id %}" class="btn btn-warning btn-sm">Редагувати</a>
                <a href="{% url 'table-delete' table.id %}" class="btn btn-danger btn-sm">Видалити</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Список заходів</h2>
    <a href="{% url 'event-add' %}" class="btn btn-success">Додати захід</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Назва</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
        <tr>
            <td>{{ event.event }}</td>
            <td>
                <a href="{% url 'event-edit' event.id %}" class="btn btn-warning btn-sm">Редагувати</a>
                <a href="{% url 'event-delete' event.id %}" class="btn btn-danger btn-sm">Видалити</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
