{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Ваші бронювання</h2>
    
    <div class="row">
        {% for booking in bookings %}
        <div class="col-md-6 mb-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ booking.name }}</h5>
                    <p class="card-text">
                        Дата: {{ booking.date }} <br>
                        Час: {{ booking.time }} <br>
                        Кількість людей: {{ booking.number_of_people }}
                    </p>
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'booking-detail' booking.pk %}" class="btn btn-info">Детальніше</a>
                        <a href="{% url 'booking-delete' booking.pk %}" class="btn btn-danger">Видалити</a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-center">У вас поки що немає бронювань.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
