{% load static %}
{% include 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Редагування категорії</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_dish" class="form-label">Назва категорії</label>
            {{ form.dish }}
        </div>
        <button type="submit" class="btn btn-success">Зберегти</button>
        <a href="{% url 'list-category-for-delete' %}" class="btn btn-secondary">Скасування</a>
    </form>
</div>
{% endblock %}
