{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Управління вулицями</h2>
    

    <!-- Форма добавления улицы -->
    <form method="post" action="{% url 'manage-street' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="action" value="add">
        <button type="submit" class="btn btn-primary">Додати вулицю</button>
    </form>
    <br>
    <a href="{% url 'order-page' %}" class="btn btn-secondary mb-3">Назад</a>
    

    <hr>

    <h4>Список вулиць</h4>
    <ul class="list-group">
        {% for street in streets %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ street.name }}
            <form method="post" action="{% url 'manage-street' %}" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="action" value="delete">
                <input type="hidden" name="street_id" value="{{ street.id }}">
                <button type="submit" class="btn btn-danger btn-sm">Видалити</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
