{% extends "base.html" %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'gallery.css' %}">
{% endblock %}
{% block content %}
<h2>Додати фото до галереї</h2>
<!-- Форма загрузки фото -->
<form action="{% url 'upload-image' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" id="upload-button" class="btn btn-success" disabled>Завантажити</button>
</form>
<a href="{% url 'gallery' %}" class="btn btn-secondary mt-3">Назад до галереї</a>

<!-- Этот скрипт следит за изменениями в поле для загрузки файла . Когда файл выбран, кнопка загрузки становится активной. 
 Если файл не выбран, кнопка остается заблокированной. -->
<script>
    const fileInput = document.querySelector('input[type="file"]'); 
    const uploadButton = document.getElementById('upload-button'); 

    fileInput.addEventListener('change', function () {
        if (fileInput.files.length > 0) {
            uploadButton.removeAttribute('disabled');
        } else {
            uploadButton.setAttribute('disabled', 'true');
        }
    });
</script>
{% endblock %}